.cart {
  .text-info {
    background: #f2edea;
    .inner-text {
      width: calc(100% - 30px);
      margin: 0 auto;
      padding: 28px 0 18px 0;
      @media (min-width: $lg) {
        max-width: 1170px;
        padding: 80px 0 30px 0;
      }

      p,
      a,
      span {
        margin: 0;
        font-family: "Lato", sans-serif;
      }

      nav {
        .breadcrumbs {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          list-style: none;
          .breadcrumb-item {
            font-size: 13px;
            font-weight: 400;
            a {
              color: #85c441;
              text-decoration: none;
              display: inline-block;
            }
            &.active {
              color: #000;
              &:before {
                padding: 0 14px;
              }
            }
          }
        }
      }
      .text {
        text-align: center;
        position: relative;
        padding: 15px 0;

        p {
          color: #45413e;
          display: inline-block;
          font-size: 31px;
          font-weight: 800;
          @media (min-width: $lg) {
            font-size: 48px;
          }
        }
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          height: 2px;
          width: calc(50% - 130px);
          background: #fff;
          opacity: 0.5;
          @media (min-width: $md) {
            width: calc(50% - 150px);
          }
          @media (min-width: $lg) {
            width: calc(50% - 225px);
          }
        }
        &:before {
          right: 0;
          left: 0;
        }
      }
      a {
        text-decoration: none;
        font-size: 13px;
        color: #8dc73e;
        font-weight: 400;
        display: block;
        text-align: center;

        @media (min-width: $lg) {
          display: none;
        }
      }
    }
  }
}
