<div class="osf-price-cart">
    <div class="inner">
        <div class="wrap">
            <div class="content-price">
                <div class="items">
                    <div class="add-coupon">
                        <div class="coupon-items">
                            <div>
                                <input type="text" placeholder="Enter Coupon Code">
                            </div>

                        </div>
                        <div class="coupon-items">
                            <a href="#">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="update-cart">
                        <a href="#">Update Cart</a>
                        <a href="#">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
            <div class="total-cart">
                <div class="item-cart">
                    <div class="subtotal">
                        <div class="items">
                            <p>Cart Subtotal:</p>
                        </div>
                        <div class="items">
                            <span>$3,489</span>
                        </div>
                    </div>
                    <div class="subtotal">
                        <div class="items">
                            <span>shipping and handling:</span>
                        </div>
                        <div class="items">
                            <form>
                                <div class="check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        <p>Flat rate: <span>$10.00</span></p>
                                    </label>
                                </div>
                                <div class="check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        <p>Free Shipping</p>
                                    </label>
                                </div>
                                <div class="check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios3" value="option2">
                                    <label class="form-check-label" for="exampleRadios3">
                                        <p>international: <span>$60.00</span></p>
                                    </label>
                                </div>
                                <div class="check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios4" value="option2">
                                    <label class="form-check-label" for="exampleRadios4">
                                        <p>Local Delivery: <span>$5.00</span></p>
                                    </label>
                                </div>
                                <div class="check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios5" value="option2">
                                    <label class="form-check-label" for="exampleRadios5">
                                        <p>Local Pickup(Free)</p>
                                    </label>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="subtotal">
                        <div class="items">
                            <span>Order Total</span>
                        </div>
                        <div class="items">
                            <h2>$3.000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>