<div class="osf-items-cart">
    <div class="inner">
        <div class="wrap">
            <div class="content">
                <div class="items">
                    <div class="about-items">
                        <div class="photo" style="background: url(images/pr-small-one.jpg);">
                            <!-- <img src="images/pr-small-one.jpg" alt="product" class="img-fluid"> -->

                        </div>
                        <div class="price">
                            <p>Kristina Dam Oak Table With White Marble Top</p>
                            <span>$2,195.00</span>
                        </div>
                    </div>
                    <div class="about-items">
                        <div class="info">
                            <div class="increase">
                                <button>+</button>
                                <span>1</span>
                                <button>-</button>
                            </div>
                            <div class="check-price">
                                <span>$2,195</span>
                            </div>
                            <div class="close-btn">
                                <a href=""><img src="images/x-close.png" alt="close" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="about-items">
                        <div class="photo" style="background: url(images/pr-small-two.jpg);">
                            <!-- <img src="images/pr-small-one.jpg" alt="product" class="img-fluid"> -->

                        </div>
                        <div class="price">
                            <p>Kristina Dam Oak Table With White Marble Top</p>
                            <span>$2,195.00</span>
                        </div>
                    </div>
                    <div class="about-items">
                        <div class="info">
                            <div class="increase">
                                <button>+</button>
                                <span>1</span>
                                <button>-</button>
                            </div>
                            <div class="check-price">
                                <span>$2,195</span>
                            </div>
                            <div class="close-btn">
                                <a href=""><img src="images/x-close.png" alt="close" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>