<div class="osf-hero">
    <div class="inner">
        <div class="items">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(../images/layer3.png);">
                        <div class="inside">
                            <h1>Control and manage any device with cloud solutions</h1>
                            <p>Improve business performance and the user experience with the right mix of IoT technology
                                and processes</p>
                            <a href="#!">VIEW MORE</a>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(../images/layer2.png);">

                    </div>
                    <div class="swiper-slide" style="background-image: url(../images/layer1.png);">

                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev "></div>
            </div>
        </div>
        <div class="items">
            <div class="image">
                <p>asdasasd</p>
            </div>
        </div>
    </div>
</div>