<div class="osf-footer">
    <div class="wrap">
        <div class="inner">
            <div class="items">
                <ul>
                    <li class="year">© Copyright <span></span>.</li>
                    <li>All Rights Reserved.</li>
                </ul>
                <ul>
                    <li>
                        <p>Contact</p>
                    </li>
                    <li>Headquarters:</li>
                    <li>5600, Blvd. des Galeries, Bur 530 </li>
                    <li>Québec, Québec</li>
                </ul>
                <div class="contact">
                    <a href="mailto:contact@osf-global.com">contact@osf-global.com</a>
                    <a href="tel:+18885484344">+1 (888) 548-4344</a>
                </div>
            </div>
            <div class="items links">
                <div class="inside">
                    <p>Category</p>
                    <div class="error">
                        <ul>
                            <li><a href="#!">Alcohol</a></li>
                            <li><a href="">Art</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Drink</a></li>
                            <li><a href="">Electronics</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Jewelry</a></li>
                            <li><a href="">Kids & Baby</a></li>
                            <li><a href="">Fashion</a></li>
                            <li><a href="">Electronics</a></li>
                            <li><a href="">Movies</a></li>
                            <li><a href="">Music</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inside">
                    <p class="last">About</p>
                    <div class="error">
                        <ul>
                            <li><a href="#!">Alcohol</a></li>
                            <li><a href="">Art</a></li>
                            <li><a href="">Books</a></li>
                            <li><a href="">Drink</a></li>
                            <li><a href="">Electronics</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Jewelry</a></li>
                            <li><a href="">Kids & Baby</a></li>
                            <li><a href="">Fashion</a></li>
                            <li><a href="">Electronics</a></li>
                            <li><a href="">Movies</a></li>
                            <li><a href="">Music</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="social">
                    <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#!"><i class="fa-brands fa-pinterest-p"></i></a>
                    <a href="#!"><i class="fa-solid fa-vr-cardboard"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>