<header>
    <div class="osf-header">
        <div class="logo">
            <a href="index.html" class="d-none d-lg-block"><img src="images/logod.png" alt="logo" class="img-fluid"
                    width="147" height="65"></a>
            <a href="index.html" class="d-lg-none"><img src="images/logo.png" alt="logo" class="img-fluid" width="46"
                    height="46"></a>
        </div>
        <nav class="main-nav">
            <ul class="main-ul">
                <li>
                    <a href="#!">Services</a>
                    <div class="mega-menu">
                        <div class="wrap">
                            <div class="menu-head">
                                <div class="navs">
                                    <div class="items">
                                        <ul>
                                            <li class="header-text">
                                                <a href="#!" class="target">PRODUCT CATEGORIES</a>

                                            </li>
                                            <div class="sub-menu">

                                                <ul>
                                                    <li><a href="error.html">Accessories</a></li>
                                                    <li><a href="error.html">Alcohol </a></li>
                                                    <li><a href="error.html">Art</a></li>
                                                    <li><a href="error.html">Books</a></li>
                                                    <li><a href="error.html">Drink</a></li>
                                                    <li><a href="error.html">Electronics</a></li>
                                                    <li><a href="error.html">Flowers and Plants</a></li>
                                                    <li><a href="error.html">Food</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="error.html">Gadgets</a></li>
                                                    <li><a href="error.html">Garden</a></li>
                                                    <li><a href="error.html">Grocery</a></li>
                                                    <li><a href="error.html">Home</a></li>
                                                    <li><a href="error.html">Jewelry</a></li>
                                                    <li><a href="error.html">Kids and Baby</a></li>
                                                    <li><a href="error.html">Men's fashion</a></li>
                                                    <li><a href="error.html">Mobile</a></li>
                                                </ul>

                                            </div>
                                        </ul>
                                    </div>

                                    <div class="items">
                                        <ul>
                                            <li class="header-text">
                                                <a href="#!" class="target">Sale</a>

                                            </li>
                                            <div class="sub-menu">

                                                <ul>
                                                    <li><a href="error.html">Accessories</a></li>
                                                    <li><a href="error.html">Alcohol </a></li>
                                                    <li><a href="error.html">Art</a></li>
                                                    <li><a href="error.html">Books</a></li>
                                                    <li><a href="error.html">Drink</a></li>
                                                    <li><a href="error.html">Electronics</a></li>
                                                    <li><a href="error.html">Flowers and Plants</a></li>
                                                    <li><a href="error.html">Food</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="error.html">Gadgets</a></li>
                                                    <li><a href="error.html">Garden</a></li>
                                                    <li><a href="error.html">Grocery</a></li>
                                                    <li><a href="error.html">Home</a></li>
                                                    <li><a href="error.html">Jewelry</a></li>
                                                    <li><a href="error.html">Kids and Baby</a></li>
                                                    <li><a href="error.html">Men's fashion</a></li>
                                                    <li><a href="error.html">Mobile</a></li>
                                                </ul>

                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="navs last">
                                    <img src="images/menu-img.png" alt="menu-img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#!">Company</a></li>
                <li><a href="#!">Library</a></li>
                <li><a href="#!">Contact us</a></li>
                <!-- <li class="d-sm-block d-md-none">
                    <div class="navs last ">
                        <img src="images/menu-img.png" alt="menu-img" class="img-fluid">
                    </div>
                </li> -->
            </ul>
        </nav>
        <div class="rates">
            <nav>
                <ul>
                    <li><a href="#!">EN</a></li>
                    <li><a href="#!">US</a></li>
                </ul>
            </nav>
        </div>
        <div class="icons">
            <a href="#"> <img src="images/search.png" alt="search" class="img-fluid"></a>
            <a href="#"> <img src="images/profile.png" alt="profile" class="img-fluid" data-bs-toggle="modal"
                    data-bs-target="#main-modal">

            </a>










            <a href="#"> <img src="images/heart.png" alt="heart" class="img-fluid"></a>
            <a href="cart.html"> <img src="images/bag.png" alt="bag" class="img-fluid"></a>
        </div>
        <div class="modal fade" id="main-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>
                    </button>
                    <div class="header-modal">
                        <h1>Sign in</h1>

                    </div>

                    <form>
                        <div class="inner-form">
                            <div class="access">
                                <label for="email-one" class="first-label">Email address</label>
                                <input type="email" class="form-control" id="email-one">

                            </div>


                            <div class="access">

                                <label for="password-one" class="second-label">Password <a href="#">forgot
                                        password?</a></label>
                                <div class="eye-shape">
                                    <input type="password" class="form-control" id="password-one">
                                    <a href="#!"><img src="images/eyes-shape.png" alt="shape" class="img-fluid"></a>
                                </div>


                            </div>

                            <div class="login">
                                <div class="btn-login">
                                    <a href="#" type="button">Login</a>
                                </div>

                                <div class="btn-create">
                                    <a href="#!">I don’t have an account</a>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div class="hamburger  d-lg-none d-md-block">
            <span></span>
        </div>
    </div>
</header>