<div class="osf-services">
    <div class="wrap">
        <div class="items-service">
            <div class="items">
                <img src="images/delivery.png" alt="delivery" class="img-fluid">
                <ul>
                    <li>Focus</li>
                    <li>Our unwavering focus on superior service delivery and building next generation competencies</li>
                </ul>
            </div>
            <div class="items">
                <img src="images/triangular.png" alt="triangular" class="img-fluid">
                <ul>
                    <li>Method</li>
                    <li>A standardized methodology designed to deliver measurable business results and predictable costs
                    </li>
                </ul>
            </div>
            <div class="items">
                <img src="images/clipboard.png" alt="clipboard" class="img-fluid">
                <ul>
                    <li>Knowledge</li>
                    <li>A highly skilled, proactive workforce that reliably improves each client’s ROI while mitigating
                        their business risk</li>
                </ul>
            </div>
        </div>
    </div>
</div>