<div class="osf-footer-mobile">
    <div class="wrap">
        <ul>
            <li class="year">© Copyright <span></span>.</li>
            <li>All Rights Reserved.</li>
        </ul>
        <div class="accordion" id="accordion-footer">
            <div class="accordion-item">

                <button class="main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <p>Contact</p>
                    <div class="burger">
                        <span></span>
                    </div>
                </button>


                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordion-footer">
                    <div class="accordion-body">
                        <ul>
                            <li>Headquarters: </li>
                            <li>5600, Blvd. des Galeries, Bur 530</li>
                            <li>Québec, Québec</li>
                        </ul>
                        <div class="contact">
                            <a href="mailto:contact@osf-global.com">contact@osf-global.com</a>
                            <a href="tel:+18885484344">+1 (888) 548-4344</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">

                <button class="main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <p>About</p>
                    <div class="burger">
                        <span></span>
                    </div>
                </button>


                <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingOne"
                    data-bs-parent="#accordion-footer">
                    <div class="accordion-body">
                        <p>The OSF Academy is OSF Digital's global training program. Year after year we are proud to
                            help thousands of people from different countries to deepen their knowledge in different
                            Salesforce clouds and change the direction of their careers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#!"><i class="fa-brands fa-twitter"></i></a>
            <a href="#!"><i class="fa-brands fa-pinterest-p"></i></a>
            <a href="#!"><i class="fa-solid fa-vr-cardboard"></i></a>
        </div>


    </div>
    <div class="icons">
        <div class="icons-inner">
            <img src="images/search-mobile.png" alt="search" class="img-fluid">
            <img src="images/profile-mobile.png" alt="profile" class="img-fluid">
            <img src="images/heart-mobile.png" alt="heart" class="img-fluid">
            <img src="images/bag-mobile.png" alt="bag" class="img-fluid">
        </div>
    </div>
</div>