<div class="osf-mobile-menu">
    <div class="wrap">
        <div class="inner">
            <div class="accordion-item">

                <button class="mobile-btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Services
                    <div class="lines">
                        <span></span>
                    </div>
                </button>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                    <ul>
                        <li><a href="#">Accesories</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">

                <button class="mobile-btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Company
                    <div class="lines">
                        <span></span>
                    </div>
                </button>

                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                    <ul>
                        <li><a href="#">Accesories</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">

                <button class="mobile-btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Library
                    <div class="lines">
                        <span></span>

                    </div>
                </button>

                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                    <ul>
                        <li><a href="#">Accesories</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">

                <button class="mobile-btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                    Library
                    <div class="lines">
                        <span></span>

                    </div>
                </button>

                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
                    <ul>
                        <li><a href="#">Accesories</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="image ">
                <img src="images/menu-img.png" alt="menu-img" class="img-fluid">
            </div>
        </div>
    </div>
</div>