<header>
    <div class="osf-header">
        <div class="logo">
            <a href="index.html" class="d-none d-lg-block"><img src="images/logod.png" alt="logo" class="img-fluid"
                    width="147" height="65"></a>
            <a href="index.html" class="d-lg-none"><img src="images/logo.png" alt="logo" class="img-fluid" width="46"
                    height="46"></a>
        </div>
        <nav class="main-nav">
            <ul class="main-ul">
                <li>
                    <a href="#!">Services</a>
                    <div class="mega-menu">
                        <div class="wrap">
                            <div class="menu-head">
                                <div class="navs">
                                    <div class="items">
                                        <ul>
                                            <li class="header-text">
                                                <a href="#!" class="target">PRODUCT CATEGORIES</a>

                                            </li>
                                            <div class="sub-menu">

                                                <ul>
                                                    <li><a href="index.html">Accessories</a></li>
                                                    <li><a href="#">Alcohol </a></li>
                                                    <li><a href="#">Art</a></li>
                                                    <li><a href="#">Books</a></li>
                                                    <li><a href="#">Drink</a></li>
                                                    <li><a href="#">Electronics</a></li>
                                                    <li><a href="#">Flowers and Plants</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#">Gadgets</a></li>
                                                    <li><a href="#">Garden</a></li>
                                                    <li><a href="#">Grocery</a></li>
                                                    <li><a href="#">Home</a></li>
                                                    <li><a href="#">Jewelry</a></li>
                                                    <li><a href="#">Kids and Baby</a></li>
                                                    <li><a href="#">Men's fashion</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                </ul>

                                            </div>
                                        </ul>
                                    </div>

                                    <div class="items">
                                        <ul>
                                            <li class="header-text">
                                                <a href="#!" class="target">Sale</a>

                                            </li>
                                            <div class="sub-menu">

                                                <ul>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Alcohol </a></li>
                                                    <li><a href="#">Art</a></li>
                                                    <li><a href="#">Books</a></li>
                                                    <li><a href="#">Drink</a></li>
                                                    <li><a href="#">Electronics</a></li>
                                                    <li><a href="#">Flowers and Plants</a></li>
                                                    <li><a href="#">Food</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#">Gadgets</a></li>
                                                    <li><a href="#">Garden</a></li>
                                                    <li><a href="#">Grocery</a></li>
                                                    <li><a href="#">Home</a></li>
                                                    <li><a href="#">Jewelry</a></li>
                                                    <li><a href="#">Kids and Baby</a></li>
                                                    <li><a href="#">Men's fashion</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                </ul>

                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="navs last">
                                    <img src="images/menu-img.png" alt="menu-img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#!">Company</a></li>
                <li><a href="#!">Library</a></li>
                <li><a href="#!">Contact us</a></li>
                <!-- <li class="d-sm-block d-md-none">
                    <div class="navs last ">
                        <img src="images/menu-img.png" alt="menu-img" class="img-fluid">
                    </div>
                </li> -->
            </ul>
        </nav>
        <div class="rates">
            <nav>
                <ul>
                    <li><a href="#!">EN</a></li>
                    <li><a href="#!">US</a></li>
                </ul>
            </nav>
        </div>
        <div class="icons">
            <a href="#"> <img src="images/search.png" alt="search" class="img-fluid"></a>
            <a href="#"> <img src="images/profile.png" alt="profile" class="img-fluid" data-bs-toggle="modal"
                    data-bs-target="#main-modal">
                <div class="modal fade" id="main-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="inside">

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h2 style="color:red">asdasddassd</h2>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#"> <img src="images/heart.png" alt="heart" class="img-fluid"></a>
            <a href="cart.html"> <img src="images/bag.png" alt="bag" class="img-fluid"></a>
        </div>
        <div class="hamburger  d-lg-none d-md-block">
            <span></span>
        </div>
    </div>
</header>