<div class="osf-products">
    <div class="wrap">
        <!-- <div class="inner-text">
            <div class="text">
                <p>Items</p>
            </div>
        </div> -->
        <div class="product-items">
            <div class="items">
                <div class="img-products">
                    <img src="images/Layer 151.png" alt="Layer 151" class="img-fluid">
                    <div class="about-products">
                        <p>Kristina Dam Oak Table With White Marble Top</p>
                        <span>$ 799.55</span>

                    </div>
                </div>

                <div class="overlay">
                    <div class="content">
                        <div class="plus">
                            <a href="#!">
                                <img src="images/Plus.png" alt="Plus" class="img-fluid">
                            </a>
                        </div>
                        <div class="heart">
                            <a href="#!">
                                <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="items">
                <div class="img-products">
                    <img src="images/Layer 152.png" alt="Layer 152" class="img-fluid">
                    <div class="about-products buy">
                        <p>Hay - About A Lounge Chair AAL 93</p>
                        <div class="price">
                            <div class="price-items">
                                <span>$659.55</span>
                            </div>
                            <div class="price-items">
                                <a href="#!">Buy now</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="items">
                <div class="img-products">
                    <img src="images/Layer 153.png" alt="Layer 153" class="img-fluid">
                    <div class="about-products">
                        <p>Activate Facial Mask and Charcoal Soap</p>
                        <span>$ 129.55</span>
                    </div>

                </div>

                <div class="overlay">
                    <div class="content">
                        <div class="plus">
                            <a href="#!">
                                <img src="images/Plus.png" alt="Plus" class="img-fluid">
                            </a>
                        </div>
                        <div class="heart">
                            <a href="#!">
                                <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="items">
                <div class="img-products">
                    <img src="images/Layer 154.png" alt="Layer 154" class="img-fluid">
                    <div class="about-products">
                        <p>Cocktail Table Walnut | YES Walnut Cocktail</p>
                        <span>$ 299.99</span>

                    </div>
                </div>

                <div class="overlay">
                    <div class="content">
                        <div class="plus">
                            <a href="#!">
                                <img src="images/Plus.png" alt="Plus" class="img-fluid">
                            </a>
                        </div>
                        <div class="heart">
                            <a href="#!">
                                <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="items">
                <div class="img-products">
                    <img src="images/Layer 155.png" alt="Layer 155" class="img-fluid">
                    <div class="about-products buy">
                        <p>Hay - About A Lounge Chair AAL 93</p>
                        <span>$ 659.55</span>

                    </div>
                </div>

                <div class="overlay">
                    <div class="content">
                        <div class="plus">
                            <a href="#!">
                                <img src="images/Plus.png" alt="Plus" class="img-fluid">
                            </a>
                        </div>
                        <div class="heart">
                            <a href="#!">
                                <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="items">
                <div class="img-products info">
                    <img src="images/Layer 149.png" alt="Layer 149" class="img-fluid">
                    <div class="static">
                        <div class="static-text">
                            <p>My dragons are misbehaving again. Unbelieveable!</p>
                            <ul>
                                <li><img src="images/Layer 150.png" alt="Layer 150" class="img-fluid"></li>
                                <li>
                                    <span>5h ago</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="load-more">
            <a href="#!">Load More <i class="fa-solid fa-arrow-rotate-right"></i></a>



        </div>






    </div>
</div>