.osf-footer {
  display: none;
  @media (min-width: $md) {
    display: block;
  }
  .wrap {
    width: calc(100% - 30px);

    margin: 0 auto;
    @media (min-width: $md) {
      max-width: 1170px;
    }
    p,
    span,
    h1,
    li,
    a {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .inner {
      display: flex;
      flex-direction: row;
      padding: 30px 0;
      .items {
        @media (min-width: $md) {
          width: 30%;
        }
        @media (min-width: $lg) {
          width: 25%;
        }
        &:nth-child(3) {
          @media (min-width: $md) {
            width: 15%;
          }
          @media (min-width: $lg) {
            width: 10%;
          }
        }
        ul {
          li {
            font-size: 13px;
            line-height: 18px;
            color: #45413e;
            font-weight: 400;
            font-family: "Lato";
            p {
              font-size: 13px;
              text-transform: uppercase;
              color: #333333;
              font-weight: 700;
              padding: 31px 0 17px 0;
            }
          }
        }
        .contact {
          a {
            display: block;
            text-decoration: none;
            font-size: 13px;
            line-height: 18px;
            color: #45413e;
            font-weight: 400;
            &:nth-child(1) {
              padding: 20px 0;
            }
          }
        }
        .social {
          display: flex;
          justify-content: space-between;
          a {
            display: inline-block;

            i {
              color: #b2b2b2;
            }
          }
        }
        &.links {
          display: flex;
          flex-direction: row;
          width: 65%;
          @media (min-width: $md) {
            width: 55%;
          }
          @media (min-width: $lg) {
            width: 65%;
          }
          .inside {
            width: 50%;
            p {
              font-size: 13px;
              text-transform: uppercase;
              color: #333333;
              font-weight: 700;
              padding: 0 0 25px 0;
              &.last {
                @media (min-width: $md) {
                  width: 101.47px;
                  margin: 0 0 0 auto;
                }
                @media (min-width: $lg) {
                  width: 161.52px;
                }
                @media (min-width: $xl) {
                  width: 190.13px;
                }
              }
            }
            .error {
              display: flex;
              flex-direction: row;
              ul {
                width: 50%;
                li {
                  a {
                    text-decoration: none;
                    opacity: 0.7;
                    font-size: 13px;
                    line-height: 31px;
                    color: #45413e;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
