.osf-banner {
  .img-banner {
    position: relative;
    p,
    h1 {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    // background-image: url("../images/Layer 148m.png");
    // height: 443px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // background-position: center;
    // @media (min-width: $md) {
    //   background-image: url("../images/Layer 148.png");
    // }
    img {
      width: 100%;
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      h1 {
        font-size: 30px;
        color: #fff;
        font-weight: 800;
        @media (min-width: $lg) {
          font-size: 48px;
        }
      }
      p {
        padding: 45px 0 0 0;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        width: 93%;
        text-align: center;
        @media (min-width: $md) {
          width: 48%;
        }
        @media (min-width: $lg) {
          width: 30%;
        }
        @media (min-width: $xxl) {
          width: 21%;
        }
      }
    }
  }
}
