<div class="text-info">
    <div class="inner-text">
        <nav>
            <ol class="breadcrumbs">
                <li class="breadcrumb-item "><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="products.html">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ruffle Front V-Neck Cardigan</li>
            </ol>
        </nav>
        <div class="text">

            <p><span>Ruffle Front</span>V-Neck Cardigan</p>
        </div>

    </div>
</div>