<div class="products">
    <div class="osf-carousel-products-mobile d-md-none d-sm-block">
        <div class="swiper " id="second-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner-image">
                        <img src="images/Layer 151.png" alt="Layer 152" class="img-fluid">
                        <div class="inner-text">
                            <p>Kristina Dam Oak Table With White Marble Top</p>
                            <span>$ 799.55</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner-image">
                        <img src="images/Layer 152.png" alt="Layer 152" class="img-fluid">
                        <div class="inner-text">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner-image">
                        <img src="images/Layer 153.png" alt="Layer 153" class="img-fluid">
                        <div class="inner-text">
                            <p>TORY DESK CALENDAR</p>
                            <span>$ 410.99</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner-image">
                        <img src="images/Layer 154.png" alt="Layer 154" class="img-fluid">
                        <div class="inner-text">
                            <p>CH445 Wing Chair on SUITE NY</p>
                            <span>$ 330.55</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination-two"></div>
        </div>
    </div>
</div>