<div class="osf-images-products">
    <div class="wrap">
        <div class="inner">
            <div class="main-items">
                <div class="details">
                    <div class="details-swiper">
                        <div class="swiper swiper-photo">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="swiper-zoom-container">
                                        <img src="images/PG.10216885.JJ8UTXX.BZ.jpg" class="img-fluid" />
                                        <div class="info">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-zoom-container">
                                        <img src="images/PG.10216885.JJ8UTXX.PZ.jpg" class="img-fluid" />
                                        <div class="info">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-zoom-container">
                                        <img src="images/PG.10216885.JJ8UTXX.BZ.jpg" class="img-fluid" />
                                        <div class="info">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="swiper-zoom-container">
                                        <img src="images/PG.10216885.JJ8UTXX.PZ.jpg" class="img-fluid" />
                                        <div class="info">
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div> -->
                        </div>
                    </div>
                    <div class="details-swiper">
                        <div thumbsSlider="" class="swiper swiper-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/PG.10216885.JJ8UTXX.BZ-small.jpg " class="img-fluid" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/PG.10216885.JJ169XX.BZ-small.jpg" class="img-fluid" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/PG.10216885.JJ8UTXX.BZ-small.jpg " class="img-fluid" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/PG.10216885.JJ169XX.BZ-small.jpg" class="img-fluid" />
                                </div>

                            </div>

                            <div class="swiper-pagination"></div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="main-items">
                <div class="price-items">

                    <h2>$299.99</h2>
                    <div class="select-box">
                        <select>
                            <option value="1"> Dark Gray</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span><img src="images/arrow.png" alt="" class="img-fluid"></span>
                        <div class="blob"></div>
                    </div>
                    <div class="cart-increase">
                        <div class="increase">
                            <button>+</button>
                            <span>1</span>
                            <button>-</button>
                        </div>
                        <div class="cart-btn">
                            <a href="#!" type="button">Add to Cart</a>
                        </div>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                    </p>

                    <div class="more">
                        <a data-bs-toggle="collapse" href="#readMore" role="button" aria-expanded="false"
                            aria-controls="readMore">
                            Read more
                        </a>


                        <div class="collapse" id="readMore">
                            <div class="card card-body">
                                <p>Some placeholder content for the collapse component. This panel is hidden by default
                                    but
                                    revealed when the user activates the relevant trigger.</p>
                            </div>
                        </div>
                    </div>
                    <div class="social">
                        <div class="items">
                            <a href="#">Share</a>
                        </div>
                        <div class="items">
                            <div class="icons">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>