<div class="products">
    <div class="osf-featured-products">
        <div class="wrap">
            <div class="info-text">
                <h1>Featured Products</h1>
                <p>Unde omnis iste natus error sit voluptatem</p>
            </div>

            <div class="swiper" id="swiper-third">
                <div class="navigation">
                    <div class="nav-items">
                        <div class="swiper-button-next right"></div>
                        <div class="swiper-button-prev left"></div>
                        <img src="images/icon.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="inner">
                            <img src="images/Layer 158.png" alt="Layer 158" class="img-fluid">
                            <div class="info">
                                <p>Kristina Dam Oak Table With White Marble</p>
                                <span>Awesome</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner">
                            <div class="inner">
                                <img src="images/Layer 159.png" alt="Layer 159" class="img-fluid">
                                <div class="info">
                                    <p>Kristina Dam Oak Table With White Marble</p>
                                    <span>Awesome</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner">
                            <img src="images/Layer 160.png" alt="Layer 160" class="img-fluid">
                            <div class="info">
                                <p>Kristina Dam Oak Table With White Marble</p>
                                <span>Awesome</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner">
                            <img src="images/Layer 161.png" alt="Layer 161" class="img-fluid">
                            <div class="info">
                                <p>Kristina Dam Oak Table With White Marble</p>
                                <span>Awesome</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner">
                            <div class="inner">
                                <img src="images/Layer 159.png" alt="Layer 159" class="img-fluid">
                                <div class="info">
                                    <p>Kristina Dam Oak Table With White Marble</p>
                                    <span>Awesome</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner">
                            <img src="images/Layer 158.png" alt="Layer 158" class="img-fluid">
                            <div class="info">
                                <p>Kristina Dam Oak Table With White Marble</p>
                                <span>Awesome</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




        </div>

    </div>
</div>