<div class="osf-error-page">
    <div class="wrap">
        <div class="inner">
            <div class="items">
                <div class="image">
                    <img src="images/exclamation.png" alt="error" class="img-fluid">
                    <div class="text">
                        <h1>Oops!</h1>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="info-error">
                    <span>Sorry, this page could not be found!</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis necessitatibus numquam eos
                        corrupti pariatur incidunt fugiat, illo excepturi dolor provident!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam hic consectetur quis veniam nulla
                        itaque delectus, dignissimos assumenda minus quia.</p>
                    <div class="back-home">
                        <a href="index.html">Go back to Homepage</a>
                    </div>
                    <span>Search our site</span>
                    <div class="input">

                        <input type="text" class="form-control" placeholder="Search">
                        <!-- <div class="search-icon">
                            img
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>