<div class="osf-clp">
    <div class="osf-products">
        <div class="wrap">
            <div class="apparel">
                <p><span class="count"></span>results in apparel</p>
            </div>
            <div class="product-items">
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="img-products">
                        <img src="images/Layer 151.png" alt="" class="img-fluid">
                        <div class="about-products buy">
                            <p>Hay - About A Lounge Chair AAL 93</p>
                            <span>$ 659.55</span>
                        </div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="plus">
                                <a href="#!">
                                    <img src="images/Plus.png" alt="Plus" class="img-fluid">
                                </a>
                            </div>
                            <div class="heart">
                                <a href="#!">
                                    <img src="images/Heartsecond.png" alt="Heartsecond" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>