<div class="osf-filter collapse show" id="collapseFilter">
    <div class="wrap">
        <div class="inner-filter">
            <div class="filter-items">
                <p>Price</p>

                <a class="link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>$0.00 — $100.00 </span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">$50.00 — $150.00</a></li>
                    <li><a class="dropdown-item" href="#">$100.00 — $200.00</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>


            </div>
            <div class="filter-items">
                <p>Brands</p>

                <a class="link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Ukraine sport</span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Casual wear</a></li>
                    <li><a class="dropdown-item" href="#">Lingerie</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>


            </div>
            <div class="filter-items">
                <p>Size</p>

                <a class="link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Small</span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>


            </div>
        </div>
        <div class="inner-filter">
            <div class="filter-items">
                <p>Color</p>

                <div class="check-radios">

                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios1" value="option1"
                        checked>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios2" value="option2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios3" value="option3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios4" value="option4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios5" value="option5">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios6" value="option6">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios7" value="option7">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios8" value="option8">


                </div>




            </div>
            <div class="filter-items">
                <p>Sort by</p>

                <a class="link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>$0.00 — $100.00 </span>
                </a>

                <ul class="dropdown-menu exposed">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>


            </div>
            <div class="filter-items">
                <p>Show</p>

                <a class="link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>16 per page </span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>


            </div>
        </div>
    </div>
</div>