<div class="text-info">
    <div class="inner-text">
        <nav>
            <ol class="breadcrumbs">
                <li class="breadcrumb-item "><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Category Landing Services</li>
            </ol>
        </nav>
        <div class="text">

            <p>Services</p>
        </div>
        <a href="#!" role="button" class="hide-filter" data-bs-toggle="collapse" data-bs-target="#collapseFilter"> Hide
            Filter</a>
    </div>
</div>