{% extends "partials/layout.html" %}

{% block content %}
<!-- OSF Header start-->
{% include "partials/osf/osf-header.html" %}
<!-- OSF Header end -->

<!-- OSF Hero start -->
{% include "partials/osf/osf-hero.html" %}
<!-- OSF Header end -->

<!-- OSF Products start -->
{% include "partials/osf/osf-products.html" %}
<!-- OSF Products end -->

<!-- OSF Carousel Mobile start -->
{% include "partials/osf/osf-carousel-mobile.html" %}
<!-- OSF Carousel Mobile end -->

<!-- OSF Banner start -->
{% include "partials/osf/osf-banner.html" %}
<!-- OSF Banner end -->
{% endblock %}