{% extends "partials/layout.html" %}

{% block content %}



<!-- OSF Header start-->
{% include "partials/osf/osf-header.html" %}
<!-- OSF Header end -->

<!-- OSF Mobile Menu start-->
{% include "partials/osf/osf-mobile-menu.html" %}
<!-- OSF Mobile Menu end -->

<main class="products">



    <!-- OSF Title start -->
    {% include "partials/osf/products/osf-title-products.html" %}
    <!-- OSF Title end -->


    <!-- OSF Images start -->
    {% include "partials/osf/products/osf-images-products.html" %}
    <!-- OSF Images end -->










    <!-- OSF Carousel Mobile start -->
    {% include "partials/osf/osf-carousel-mobile.html" %}
    <!-- OSF Carousel Mobile end -->


    <!-- OSF Featured start -->
    {% include "partials/osf/osf-featured.html" %}
    <!-- OSF Featured end -->




</main>

<!-- OSF Footer start -->
{% include "partials/osf/osf-footer.html" %}
<!-- OSF Footer end -->


<!-- OSF Footer start -->
{% include "partials/osf/osf-footer-mobile.html" %}
<!-- OSF Footer end -->





{% endblock %}